h1{
    background-color: rgb(170, 35, 148);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', Arial Narrow;
    width:20%;
    
}
#x{
    background-color: rgb(120, 114, 119);
    font-size: 25px;
    padding:;

}
.x{
    background-color: rgb(242, 69, 69);
    font-size: 90px;

}